/* 导入初始化样式 */

@import url('./normalize.css');
* {
    border: 0;
    margin: 0;
    text-decoration: none;
}

html {
    background-color: #f4f5f5;
}

.v-note-panel {
    border: none !important;
}

.v-show-content{
    background-color: #fff !important;
}